/*estilos aplicado a todas las paginas del documento html*/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

/* estilos y trasnformaciones aplicados con box-modeling a todas las paginas del documento html*/
.header {
    background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
    width: 100%;
}

/* estilos aplicados con box-modeling al menu ppl  a todas las paginas del documento html (nav)*/
.nav {
    display: flex;
    justify-content: space-evenly;
    flex: wrap;
    background-color: black;
}

/* estilos aplicados con box-modeling a los anchors del header de las paginas del documento html*/
nav a {
    color: gold;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    margin: 20px;
}

/*transformaciones aplicadas a nav anchors*/
nav a:hover {
    color: white;
}

/*COMIENZO DE GRIDS para. grid areas, columns&rows estilo aplicado a todas las paginas del documento html*/
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
        "section section section section"
        "main main  main main"
        "main main main main"
        "footer footer footer footer";
}

/* principales grid-areas del dcto html a las que se le aplicaran los estilos de  todas las paginas del documento html*/
section {
    grid-area: section;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*GRIDSECTION.(a partir de aca, esta todo lo que abarca SECTION que es la primera parte a la que se le aplica  grid en todo el dcto). estilos para aplicar a logo y slogan de la academia, debajo de header*/
.gridSection {
    display: grid;
    grid-template-areas: "gridSection gridSection gridSection gridSection";
    background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
}

/*estilos y transformaciones para h1, slogan de la academia para todas las paginas del documento html*/
.gridSectionSlogan {
    grid-area: slogan;
    text-transform: uppercase;
    font-size: large;
    margin-top: 80px;
    animation-name: slogan;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

/*seguimos con animaciones para h1, slogan.*/
@keyframes slogan {
    0% {
        color: yellow;
    }

    25% {
        color: gold;
        font-weight: 400;
        font-size: large;
    }

    50% {
        color: lightgoldenrodyellow;
        font-size: x-large;
        font-weight: 700;
        animation-direction: reverse;
    }

    75% {
        color: white;
        font-size: x-large;
        font-weight: 700;
        animation-direction: reverse;
    }

    100% {
        color: whitesmoke;
        font-size: xx-large;
        font-weight: 900;
        animation-direction: reverse;
    }

}

/*estilos para h2, texto superior para  referirse a la academia en la seccion CURSO y COMENZAR */
.gridSectionText {
    display: grid;
    text-transform: uppercase;
    color: darkslateblue;
    font-size: x-large;
    text-align: right;
    font-weight: 900 ;
    margin: 5%;
}

/*GRIDMAIN. (a partir de aca, esta todo lo que abarca MAIN que es la segunda parte a la que se le aplica  grid en el dcto).-HAY una seccion de VIDEO, IMAGENES Y FORMULARIO.(VER MAS ABAJO).*/
.gridMain {
    display: grid;
    grid-template-areas:
        "gridMain gridMain gridMain gridMain"
        "gridMain gridMain gridMain gridMain";
    background-color: #feff00;
}

/*imagen que hace parte de MAIN EN index*/
.gridMainEs{
    display: gridMainEs;
    width: 280px;
    height: 180px;
    padding: 2%;
    margin-top: 80%;
    margin-left: 5%;
}

/*ACA COMIENZA EL FORMULARIO conteneder-padre con cada uno de sus hijos en INDEX, COMENZAR Y ACCESSO. TAMBIEN SE APLICA AL FORM MAQUETADO CON BOOTSTRAP EN INDEX Y ACCESSO*/
.gridMainForm {
    display: gridMainForm;
    font-weight: bolder;
    margin: 2%;
    padding: 5%;
    background-color: #1B4F72;
}

/*nombre*/
.form1 {
    grid-area: form1;
    margin: 20px;
}

/*Telefono*/
.form2 {
    grid-area: form2;
    margin: 20px;
}

/*Email*/
.form3 {
    grid-area: form3;
    margin: 20px;
}

/*Seleccion de Pais*/
.form4 {
    grid-area: form4;
    margin: 20px;
}

/*Tipo de Solicitud*/
.form5 {
    grid-area: form5;
    margin: 20px;
}

/*Comentarios*/
.form6 {
    grid-area: form6;
    margin: 20px 20px 20px 20px;
}

/*Condiciones de uso*/
.form6c {
    grid-area: form6c;
    margin: 0px 20px 20px 20px;
}

/*Checkbox*/
.form7 {
    grid-area: form6;
    margin: 20px;
}

/*botones de envio*/
.form8 {
    grid-area: form6;
    margin: 20px;
    text-align: center;
}

/*transformaciones para inputs y textarea en class form*/
input:hover {
    border-color: #feff00;
    border-radius: 5px;
}

input:focus {
    transform: scale(2px, 2px);
    color: #feff00;
}

textarea:hover {
    border-color: #feff00;
    border-radius: 5px;
}

textarea:focus {
    transform: scale(2px, 2px);
    color: #feff00;
}

/*COMIENZO DE MAIN ARTICLE EN LA PAGINA CURSO Y COMENZAR y estilos aplicados al mismo*/
.gridMainArticle{
    display: grid;
    grid-template-areas:"main main main main";
    background-color: #feff00;
    text-align: center;
}

.gridMainArticleUno {
    grid-template-areas:"main";
    text-align: justify;
    text-transform: uppercase;
    border-width: 10px;
    border-color:#1B4F72;
    border-style: solid;
    padding: 10px;
    margin: 15px;
}

/*ESTILOS APLICADOS AL PARRAFO EN LA PAG COMENZAR*/
.gridMainArticleParrafo {
    grid-template-areas:"main";
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
    margin: 5%;
    text-decoration:#1B4F72;
    font-weight: bold;
    text-shadow:#AED6F1;
}

.gridMainArticleDos {
    grid-template-areas:"main";
    text-align: justify;
    text-transform: uppercase;
    border-width: 10px;
    border-color:#1B4F72;
    border-style: solid;
    padding: 10px;
    margin: 15px;
}

/*FINAL DE MAIN EN LA PAGINA CURSO y estilos aplicados al mismo*/
.gridMainArticleTres {
    grid-template-areas: "main";
    text-align: justify;
    text-transform: uppercase;
    border-style: solid;
    border-color:#1B4F72;
    border-width: 10px;
    margin: 10px;
    padding: 15px
}

/*COMIENZO DE MAINMEDIA y estilos aplicados al mismo la pagina de ACCESSO */
.gridMainMedia {
    display: gridMainMedia;
}

.mediaVideo1 {
    grid-area: mediavideo1;
    margin: 10px 10px 10px 80px;
}

/*GRIDFOOTER (estilos aplicados al pie de pagina con iconos de redes sociales PARA TODAS LAS PAGINAS DEL DCTO)*/
.gridFooter {
    display: grid;
    grid-template-areas: "gridFooter gridFooter gridFooter gridFooter gridFooter";
    justify-content: space-around;
    background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
}

/*instagram icon*/
.gridFooterUno {
    grid-area: footer;
    width: 100px;
    height: 100px;
    margin: 100px;
    padding: 30px;
}

/*facebook icon*/
.gridFooterDos {
    grid-area: footer;
    width: 100px;
    height: 100px;
    margin: 100px;
    padding: 30px;
}

/*estilos aplicados al texto de contacto en footer*/
.gridFooterTres {
    grid-area: footer;
    margin: 100px;
    font-size: xx-large;
    color: black;
    font-weight: 900;
    padding: 30px;
}

/*MEDIA QUERIES PARA DISPOSITIVO MOBIL*/
@media screen and (max-width: 320px) {

    /*grid areas, columns&rows*/
    .gridContainer{ 
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas:"section"
                            "main"
                            "main"
                            "footer";
    
    }

    .header {
        position: fixed;
        width: 100%;
    }

    /* estilos aplicados al menu ppl del html y con (nav)  a todas las paginas del documento html*/
    .nav {
        display: flex;
        justify-content: space-between;
        flex: wrap;
        background-color:#1B4F72;
    }

    /* estilos aplicados a a los anchors del header a todas las paginas del documento html*/
    nav a {
        background-color: aqua;
        color: black;
        text-decoration: none;
        font-size: large;
        border: 1px solid black;
        padding: 5px;
        margin: 20px;
    }

    /* principales grid-areas a las que se le aplicaran los estilos*/
    section {
        grid-area: section;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    /*primera parte de grid para todas las paginas del dcto*/
    .gridSection {
        display: grid;
        grid-template-areas: "gridSection";
        background-image: linear-gradient(to right, #1B4F72, #5DADE2, #AED6F1);
        width:260%;
    }
    
    /*estilos y transformaciones para h1, slogan de la academia para todas las paginas del documento html*/
    .gridSectionSlogan {
        grid-area: slogan;
        text-transform: uppercase;
        font-size: large;
        margin-top: 80px;
        animation-name: slogan;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: 3s;
    }
    
    /*seguimos con animaciones para h1, slogan.*/
    @keyframes slogan {
        0% {
            color: yellow;
        }
    
        25% {
            color: gold;
            font-weight: 400;
            font-size: large;
        }
    
        50% {
            color: lightgoldenrodyellow;
            font-size: x-large;
            font-weight: 700;
            animation-direction: reverse;
        }
    
        75% {
            color: white;
            font-size: x-large;
            font-weight: 700;
            animation-direction: reverse;
        }
    
        100% {
            color: whitesmoke;
            font-size: xx-large;
            font-weight: 900;
            animation-direction: reverse;
        }
    
    }

    /*estilos para h2, texto superior para  referirse a la academia en la pagina CURSO y COMENZAR*/
    .gridSectionText {
        grid-area: "section";
        text-transform: capitalize;
        color: darkslateblue;
        font-size: smaller;
        font-weight: 900;
        width: fit-content;
    }

    /*GRIDMAIN. (a partir de aca, esta todo lo que abarca MAIN que es la segunda parte a la que se le aplica  grid en el dcto). estilos para aplicar a multimedia Y formulario para INDEX, COMENZAR Y ACCESO y articulos para la pagina CURSO. contenedor padre con sus diferentes forms que son sus hijos y esta justo despues de section*/
    .gridMain {
        display: grid;
        grid-template-areas:"main";
        background-color:#feff00;
        width: 260%;
    }

    .gridMainArticle{
        display: grid;
        grid-template-areas:"main";
        background-color: #feff00;
        text-align: center;
    }

    /*COMIENZO DE MAINA-RTICLE EN LA PAGINA CURSO y estilos aplicados al mismo*/
    .gridMainArticleUno {
        grid-template-areas:"main";
        text-align: justify;
        text-transform: uppercase;
        border-width: 5px;
        border-color:#1B4F72;
        border-style: solid;
        padding: 50px;
        margin: 1%;
    }
    /*parrafo de esta clase para la seccion comenzar*/
    .gridMainArticleParrafo {
        grid-template-areas:"main";
        text-align: center;
        text-transform: uppercase;
        padding: 5%;
        margin: 5%;
        text-decoration:#1B4F72;
        font-weight: bold;
        text-shadow:#AED6F1;
    }

    .gridMainArticleDos {
        grid-template-areas:"main";
        text-align: justify;
        text-transform: uppercase;
        border-width: 5px;
        border-color:#1B4F72;
        border-style: solid;
        padding: 50px;
        margin: 1%; 
    }

    /*FINAL DE MAIN EN LA PAGINA CURSO y estilos aplicados al mismo*/
    .gridMainArticleTres {
        grid-template-areas:"main";
        text-align: justify;
        text-transform: uppercase;
        border-width: 5px;
        border-color:#1B4F72;
        border-style: solid;
        padding: 50px;
        margin: 1%;
    }

    /*IMAGEN DE INDEX*/
    .gridMainEs{
        width: 680px;
        height: 280px;
        margin: 50px;
    }

    /*FORMULARIO DEL PROYECTO EN las paginas INDEX, COMENZAR Y ACCESO del documento html tambien se han APLICADO LOS ESTILOS A LA MAQUETACION CON BOOTSTRAP DEL FORMULARIO*/
    .gridMainForm {
        grid-template-areas: "main";
        padding: 2px;
        font-weight: bolder;
        background-color: bisque;
    }

    /*COMIENZO DE LOS DATOS DE FORMULARIO. DESDE FORM1 A FORM8*/
    .form1 {
        grid-area: form1;
        margin: 20px;
    }

    .form2 {
        grid-area: form2;
        margin: 20px;
    }

    .form3 {
        grid-area: form3;
        margin: 20px;
    }

    .form4 {
        grid-area: form4;
        margin: 20px;
    }

    .form5 {
        grid-area: form5;
        margin: 20px;
    }

    .form6 {
        grid-area: form6;
        margin: 20px 20px 0px 20px;
    }

    .form6c {
        grid-area: form6c;
        margin: 0px 20px 20px 20px;
    }

    .form7 {
        grid-area: form6;
        margin: 20px;
    }

    .form8 {
        grid-area: form6;
        margin: 20px;
        text-align: center;
    }

    .gridMainMedia {
        display: grid;
    }

    .mediaVideo1 {
        grid-area: mediavideo1;
        width: 400px;
        height: 280px;
        margin-top: 5%;
        margin-left: 25%;
        margin-bottom: 5%;
    }


    /*COMIENZO DE MAIN IMAG PARA LA PAGINA COMENZAR*/
    .gridMainImg {
        display: grid;
        width: 420px;
        height: 150px;
        margin:50px ;
    }

    /* estilos aplicados al footer para todas las paginas del dcto (gridFooter)*/
    .gridFooter {
        display: grid;
        grid-template-areas: "footer";
        width:260%;
        align-content: space-between;
    }

    /*instagram icon*/
    .gridFooterUno {
        grid-area: footer;
        width: 100px;
        height: 100px;
        background-color: aqua;
    }

    /*facebook icon*/
    .gridFooterDos {
        grid-area: footer;
        width: 100px;
        height: 100px;
        background-color: aqua;
    }

    /*estilos aplicados al texto de contacto en footer*/
    .gridFooterTres {
        grid-area: footer;
        font-size: x-large;
        color: black;
        font-weight: 500;
        background-color: aqua;
    }
}